@page "/order/confirmation/{session_id}"
@using YumBlazor.Services
@using YumBlazor.Utility
@inject PaymentService _paymentService
@inject IShoppingCartRepository _cartRepository

@if (IsProcessing)
{
    <div class="position-absolute w-100 vh-100 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="/images/loading.gif" />

    </div>
}
else
{
    <div class="text-center">
        <h1 class="pt-4 text-success">You are too close to delicious food!</h1>
        <p>Your order is confirmed! Please note your orderId for any problem.</p>
        <p>Your OrderId is <b>@orderHeader.Id</b></p>
        <hr />
        <img src="/images/lawn_leaf.jpg" style="width:40%" />
    </div>
}



@code {

    [Parameter]
    public string session_id { get; set; }
    private bool IsProcessing { get; set; } = true;
    private OrderHeader orderHeader { get; set; }


    protected override async Task OnInitializedAsync()
    {
        orderHeader = await _paymentService.CheckPaymentStatusandUpdateOrder(session_id); //2
        if(orderHeader.Status == SD.StatusApproved)
        {
            await _cartRepository.ClearCartAsync(orderHeader.UserId);
        }

        
        IsProcessing = false;
    }
}
